@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.text-right{
    text-align: right;
}

.wrapper {
  width: 100%;
  height: 100vh;
  padding: 50px;
}

.box {
  border: 10px solid #47b1ff;
  height: 100%;
  position: relative;
}

.box > div {
  position: absolute;
  width: 350px;
  height: auto;
  color: #666;
  font-size: 20px;
  font-weight: 300;
  padding: 50px;
}

.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .box > div {
    padding: 30px;
    font-size: 18px;

  }


}

@media only screen and (max-width: 800px) {
    .wrapper {
        height: 100%;
      }

  .box > div {
    width: auto;
    position: relative;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-size: 18px;
  }

  .center {
    position: absolute;
    text-align: center;
    top: initial;
    left: initial;
    transform: none;
  }
}

@media only screen and (max-width: 768px) {


  .text-right{
    text-align: center;
}

}
